<h1>Kirchenbingo</h1>
<h2>Fragebogen:</h2>
  <h3> 1. Ist das Gebäude eher stadtprägend, quartierprägend, stadtprägend und
  quartierprägend oder nicht prägend? </h3>
  <form [formGroup]="statistik">
    <div class="formgroup">
      <label>
        <input type="radio" value="cityFormative" formControlName="formative"> stadtprägend
      </label>
      <label>
        <input type="radio" value="quaterFormative" formControlName="formative"> quartierprägend
      </label>
      <label>
        <input type="radio" value="quaterCityFormative" formControlName="formative"> stadtprägend und
  quartierprägend
      </label>
      <label>
        <input type="radio" value="notFormative" formControlName="formative"> nicht prägend
      </label>
  </div>
  <br />
  <h3> 2. Gibt es in unmittelbarer Umgebung eine oder meherere der folgenden Funktionen? </h3>
  <div formGroupName="anliegendeNutzungen">
      <label>
        <input type="checkbox" formControlName="schule"> Schule
      </label>
      <label>
        <input type="checkbox" formControlName="altenheim"> Altenheim
      </label>
      <label>
        <input type="checkbox" formControlName="schwimmbad"> Schwimmbad
      </label>
      <label>
        <input type="checkbox" formControlName="sportplatz"> Sportplatz
      </label>
      <label>
        <input type="checkbox" formControlName="gruenflaeche"> Grünfläche
      </label>  
  </div>
  <br />
  <h3> 3. Wo befindet sich aus städtebaulicher Sicht der Haupteingang der Kirche? </h3>
   <div>
      <label>
        <input type="radio" value="ImWestwerk" formControlName="entrance"> Im Westwerk
      </label>
      <label>
        <input type="radio" value="Seitlich" formControlName="entrance"> Seitlich
      </label>
  </div>
  <br />
  <h3> 4. Um welchen Bautypus handelt es sich bei der Kirche? </h3>
   <div>
      <label>
        <input type="radio" value="Basilika" formControlName="type"> Basilika
      </label>
      <label>
        <input type="radio" value="Hallenkirche" formControlName="type"> Hallenkirche
      </label>
         <label>
        <input type="radio" value="Saalkirche" formControlName="type"> Saalkirche
      </label>
  </div>
  <br />
  <h3> 5. Steht das Gebäude unter Denkmalschutz? </h3>
     <div>
      <label>
        <input type="radio" value="Ja" formControlName="protection"> Ja
      </label>
      <label>
        <input type="radio" value="JaAussen" formControlName="protection"> Ja, Außengestaltung
      </label>
         <label>
        <input type="radio" value="Nein" formControlName="protection"> Nein
      </label>
  </div>
  <br />
  <h3> 6. In welchem Zustand ist die Bausubstanz des Gebäudes? </h3>
  <div>
      <label>
        <input type="radio" value="Gut" formControlName="bausubstanz"> Gut
      </label>
      <label>
        <input type="radio" value="Schlecht" formControlName="bausubstanz"> Schlecht
      </label>
      <label>
        <input type="radio" value="SehrSchlecht" formControlName="bausubstanz"> Sehr Schlecht
      </label>
  </div>
  <br />
  <h3> 7. Wie hoch ist der Altersquotient im Quartier in Prozent? </h3>
  <div>
    <input type="number" formControlName="altersquotient"/>
  </div>
  <br />
  <h3> 8. Wie hoch ist der Jugendquotient im Quartier in Prozent? </h3>
  <div>
    <input type="number" formControlName="jugendquotient"/>
  </div>
  <br />
  <h3> 9. Wie hoch ist der Anteil an jungen Erwachsenen (18-25 Jahre) im Quartier in Prozent? </h3>
  <div>
    <input type="number" formControlName="youngAdults"/>
  </div>
  <br />
  <h3> 10. Wie hoch ist der Anteil an SGB-II EmpfängerInnen im Quartier in Prozent? </h3>
  <div>
    <input type="number" formControlName="poverty"/>
  </div>
  <br />
  <h3> 11. Wie hoch ist der Anteil an Menschen, deren Wohndauer weniger als drei Jahre beträgt in Prozent? </h3>
  <div>
    <input type="number" formControlName="stability"/>
  </div>
  <br />
  <h3> 12. Wie hoch ist der Anteil an Menschen mit Migrationshintergrund in Prozent? </h3>
  <div>
    <input type="number" formControlName="migration"/>
  </div>
  <br />
  <!-- <button type="button" [disabled]="!statistik.valid" (click)="calcUtilizations()">Berechne Nutzungen</button> -->
  <button type="button" (click)="calcUtilizations()">Berechne Nutzungen</button>
</form>



<h2>Mögliche Nutzungen</h2>
  @for (utilization of utilizations; track $index) {
  <p>
    @if (utilization.strike) {
      <s>{{ utilization.label }}</s>
    } @else {
      <span>{{ utilization.label + " " + utilization.prio}}</span>
    }
  </p> 
}